<!--
	      ###  FOOTER   ###
	-->

<div class="cube-reg-footer">
    <div class="cube-reg-container">
        <h2 class="cube-reg-content__header">Стратегическое управление IT проектами</h2>
        <ul class="cube-reg-footer__lang-list">
            <li class="cube-reg-footer__lang-list-item">en</li>
            <li class="cube-reg-footer__lang-list-item cube-reg-footer__lang-list-item--current">ru</li>
        </ul>
        <div class="cube-reg-footer__company-logo"><img src="img/attracti-logo.svg" alt="" class="cube-reg-footer__img"></div>
    </div>
</div>