<div class="cube-milestones">
    <div class="cube-reg-content__box cube-milestones__box">
        <h2 class="cube-reg-content__header">Этапы разработки продукта</h2>
        <p class="cube-reg-content__subheader">Система ведет плановые оценочные и фактические </p>
        <div class="cube-milestones__form-block">
            <form action="">
                <div class="cube-milestones__item">
                    <div class="cube-milestones__name-block">
                        <label for="" class="cube-reg-content__label">Milestones</label>
                        <input type="text" class="cube-reg-content__input" value="Alfa version">
                    </div>
                    <div class="cube-milestones__date-block">
                        <label for="" class="cube-reg-content__label">Дата</label>
                        <input type="date" class="cube-reg-content__input cube-milestones__date-input" value="2017-10-16" maxlength="10">
                    </div>
                </div>
                <div class="cube-milestones__item">
                    <div class="cube-milestones__name-block">
                        <label for="" class="cube-reg-content__label">Milestones</label>
                        <input type="text" class="cube-reg-content__input" value="Beta version">
                    </div>
                    <div class="cube-milestones__date-block">
                        <label for="" class="cube-reg-content__label">Дата</label>
                        <input type="date" class="cube-reg-content__input cube-milestones__date-input" value="2017-04-13" maxlength="10">
                    </div>
                </div>
                <div class="cube-milestones__item">
                    <div class="cube-milestones__name-block">
                        <label for="" class="cube-reg-content__label">Дата завершения</label>
                    </div>
                    <div class="cube-milestones__date-block">
                        <label for="" class="cube-reg-content__label">Дата</label>
                        <input type="date" class="cube-reg-content__input cube-milestones__date-input" value="2017-09-03" maxlength="10">
                    </div>
                </div>
                <button class="cube-reg-content__button cube-milestones__button">Передать</button>
            </form>
        </div>
        <img src="img/milestones-img.png" alt="" class="cube-milestones__img">
    </div>
</div>