<!--
	      ###  NEW PROJECT   ###
	-->
<div class="cube-new-project">
    <div class="cube-reg-content__box cube-new-project__box">
        <h2 class="cube-reg-content__header cube-new-project__header">Создание первого проекта</h2>
        <div class="cube-new-project__creature-block">
            <form action="">
                <label for="" class="cube-reg-content__label ">Название проекта</label>
                <input type="text" class="cube-reg-content__input" placeholder="Введите email">
                <label for="" class="cube-reg-content__label">Шаблон проекта<sup class="cube-reg-content__label-sup">*</sup></label>
                <div class="cube-reg-content__select-box">
                    <select name="" id="" size="1" class="cube-reg-content__select">
                    <option selected value="">Mobile app </option>
                    <option value="">Agile Sprint </option>
                    <option value="">Agile Sprint </option>
                </select>
                </div>
                <label for="" class="cube-reg-content__label">Модель управления<sup class="cube-reg-content__label-sup">*</sup></label>
                <div class="cube-reg-content__select-box">
                    <select name="" id="" size="1" class="cube-reg-content__select">
                    <option selected value="">Mobile app </option>
                    <option value="">Agile Sprint </option>
                    <option value="">Agile Sprint </option>
                </select>
                </div>
                <button class="cube-reg-content__button cube-new-project__button">СОЗДАТЬ</button>
            </form>
        </div>
        <img src="img/new-project-img.png" alt="" class="cube-new-project__img">
    </div>
</div>