
<div class="pros__list">
    <div class="pros__item pros-item">
        <img src="./img/icon_1.svg" alt="" class="pros-item__img">
        <h4 class="pros-item__title">Производим на фабрике</h4>
        <p class="pros-item__text">
            Используем сертифицированные материалы и фурнитуру.
        </p>
    </div>
    <div class="pros__item pros-item">
        <img src="./img/icon_2.svg" alt="" class="pros-item__img">
        <h4 class="pros-item__title">6 недель</h4>
        <p class="pros-item__text">
            Модульная технология и стандартизация уменьшает время постройки дома до 6 недель.
        </p>
    </div>
    <div class="pros__item pros-item">
        <img src="./img/icon_3.svg" alt="" class="pros-item__img">
        <h4 class="pros-item__title">Бережливое строительство</h4>
        <p class="pros-item__text">
            Мы уменьшаем негативное влияние окружающую среду.
        </p>
    </div>
    <div class="pros__item pros-item">
        <img src="./img/icon_4.svg" alt="" class="pros-item__img">
        <h4 class="pros-item__title">Быстрая окупаемость</h4>
        <p class="pros-item__text">
            В доме не только комфортно жить, но и выгодно сдавать. Срок окупаемости дома всего от 5 лет.
        </p>
    </div>
</div>