
<div class="pros__list">
    <div class="pros__item pros-item">
        <img src="./img/icon_1.svg" alt="" class="pros-item__img">
        <h4 class="pros-item__title">Собственное производство</h4>
        <p class="pros-item__text">
            Собственное производство в Украине
        </p>
    </div>
    <div class="pros__item pros-item">
        <img src="./img/icon_2.svg" alt="" class="pros-item__img">
        <h4 class="pros-item__title">Высокое качество</h4>
        <p class="pros-item__text">
            Высокое качество по цене ниже европейских аналогов
        </p>
    </div>
    <div class="pros__item pros-item">
        <img src="./img/icon_3.svg" alt="" class="pros-item__img">
        <h4 class="pros-item__title">Техподдержка</h4>
        <p class="pros-item__text">
            Долгосрочная эксплуатация и дальнейшее техническое обслуживание
        </p>
    </div>
    <div class="pros__item pros-item">
        <img src="./img/icon_4.svg" alt="" class="pros-item__img">
        <h4 class="pros-item__title">Гарантия</h4>
        <p class="pros-item__text">
            ГАРАНТИЯ КАЧЕСТВА ВЫПОЛНЕННЫХ РАБОТ
        </p>
    </div>
</div>