<!--
	      ###  REGISTRATION   ###
	-->

<div class="cube-registration">
    <div class="cube-reg-container">
        <h2 class="cube-reg-content__header cube-registration__header">Зарегистрируйтесь</h2>
        <div class="cube-registration__content">
            <div class="cube-registration__enter-via-block">
                <a href="#" class="cube-registration__enter-via">
                    <img src="img/link-icon.png" alt="" class="cube-registration__enter-via-img">Зарегистрироваться через Linkdin
                </a>
                <a href="#" class="cube-registration__enter-via">
                    <img src="img/fb-icon.png" alt="" class="cube-registration__enter-via-img"> Зарегистрироваться через Facebook
                </a>
                <a href="#" class="cube-registration__enter-via">
                    <img src="img/google-icon.png" alt="" class="cube-registration__enter-via-img"> Зарегистрироваться через Google
                </a>
            </div>
            <div class="cube-registration__or-line">
                <span class="cube-registration__vertical-line">Или</span>
            </div>
            <div class="cube-registration__reg-block">
                <form action="">
                    <label for="" class="cube-reg-content__label">Email</label>
                    <input required type="email" class="cube-reg-content__input" placeholder="Введите email">
                    <label for="" class="cube-reg-content__label">Имя</label>
                    <input required type="text" class="cube-reg-content__input" placeholder="Введите имя">
                    <label for="" class="cube-reg-content__label">Фамилия</label>
                    <input required type="text" class="cube-reg-content__input" placeholder="Введите фамилию">
                    <label for="" class="cube-reg-content__label">Название компании</label>
                    <input required type="password" class="cube-reg-content__input" placeholder="Пароль не меньше 6 символов">
                    <button class="cube-reg-content__button cube-registration__button">Зарегистироваться</button>
                </form>
            </div>

        </div>
        <div class="cube-registration__bottom-text">
            Регистрируясь, я выражаю согласие с <br>
            <a href="#" class="cube-registration__bottom-text-link">Условиями предоставления услуг</a> и<a href="#" class="cube-registration__bottom-text-link"> Политикой конфиденциальности</a>
        </div>
    </div>
</div>