<div class="cube-requirements">
    <div class="cube-reg-content__box cube-requirements__box">
        <div class="cube-reg-content__risks">
            <span class="cube-reg-content__risks-value">100</span><span class="cube-reg-content__risks-percent">%</span>
            <span class="cube-reg-content__risks-text">риски</span>
        </div>
        <div class="cube-reg-content__help">
            <div class="cube-reg-content__help-text-block">
                <p class="cube-reg-content__help-question">Требуется помощь?</p>
                <p class="cube-reg-content__help-contact">
                    <span class="cube-reg-content__help-span-bold">Авилова Юлия</span> +38(073) 838 22 83
                </p>
            </div>
            <div class="cube-reg-content__help-img-block">
                <img src="img/cube-help-img.png" alt="" class="cube-reg-content__help-img">
            </div>
        </div>
        <h2 class="cube-reg-content__header">Наиболее важные требования </h2>
        <p class="cube-reg-content__subheader cube-requirements__subheader">Система рассчитает</p>
        <div class="cube-requirements__list-block">
            <div class="cube-requirements__list-item">
                <div class="cube-requirements__item-label cube-requirements__item-label--color-1">
                    <span class="cube-requirements__item-span">BUSINESS</span>
                </div>
                <div class="cube-requirements__item-content">
                    <div class="cube-reg-content__task-box cube-requirements__task-box">
                        <label for="" class="cube-reg-content__label">Требование</label>
                        <input type="text" class="cube-reg-content__input cube-requirements__input" placeholder="Анализ рынка">
                        <label for="" class="cube-reg-content__label">Детали</label>
                        <textarea name="" id="" class="cube-reg-content__textarea" placeholder="Анализировать интеграции Github"></textarea>
                        <label for="" class="cube-reg-content__label">Milestone</label>
                        <div class="cube-reg-content__select-box cube-requirements__select-box">
                            <select name="" id="" size="1" class="cube-reg-content__select cube-requirements__select">
                                <option selected value="">Alfaversion 22.10.16 </option>
                                <option value="">Alfaversion 23.10.16 </option>
                                <option value="">Alfaversion 24.10.16 </option>
                            </select>
                        </div>
                    </div>
                    <button class="cube-requirements__plus-img"></button>
                </div>
            </div>
            <div class="cube-requirements__list-item">
                <div class="cube-requirements__item-label  cube-requirements__item-label--color-2">
                    <span class="cube-requirements__item-span">FUNCTIONAL</span>
                </div>
                <div class="cube-requirements__item-content">
                    <div class="cube-reg-content__task-box cube-requirements__task-box">
                        <label for="" class="cube-reg-content__label">Требование</label>
                        <input type="text" class="cube-reg-content__input cube-requirements__input" placeholder="Анализ рынка">
                        <label for="" class="cube-reg-content__label">Детали</label>
                        <textarea name="" id="" class="cube-reg-content__textarea" placeholder="Анализировать интеграции Github"></textarea>
                        <label for="" class="cube-reg-content__label">Milestone</label>
                        <div class="cube-reg-content__select-box cube-requirements__select-box">
                            <select name="" id="" size="1" class="cube-reg-content__select cube-requirements__select">
                                <option selected value="">Alfaversion 22.10.16 </option>
                                <option value="">Alfaversion 23.10.16 </option>
                                <option value="">Alfaversion 24.10.16 </option>
                            </select>
                        </div>
                    </div>
                    <button class="cube-requirements__plus-img"></button>
                </div>
            </div>
            <div class="cube-requirements__list-item">
                <div class="cube-requirements__item-label  cube-requirements__item-label--color-3">
                    <span class="cube-requirements__item-span">INTERFACE</span>
                </div>
                <div class="cube-requirements__item-content">
                    <div class="cube-reg-content__task-box cube-requirements__task-box">
                        <label for="" class="cube-reg-content__label">Требование</label>
                        <input type="text" class="cube-reg-content__input cube-requirements__input" placeholder="Анализ рынка">
                        <label for="" class="cube-reg-content__label">Детали</label>
                        <textarea name="" id="" class="cube-reg-content__textarea" placeholder="Анализировать интеграции Github"></textarea>
                        <label for="" class="cube-reg-content__label">Milestone</label>
                        <div class="cube-reg-content__select-box cube-requirements__select-box">
                            <select name="" id="" size="1" class="cube-reg-content__select cube-requirements__select">
                                <option selected value="">Alfaversion 22.10.16 </option>
                                <option value="">Alfaversion 23.10.16 </option>
                                <option value="">Alfaversion 24.10.16 </option>
                            </select>
                        </div>
                    </div>
                    <button class="cube-requirements__plus-img"></button>
                </div>
            </div>
        </div>
        <div class="cube-requirements__example-block">
            <button class="cube-reg-content__button cube-requirements__button-pass">Пропустить</button>
            <img src="img/requirements-img.png" alt="" class="cube-requirements__img">
        </div>
        <button class="cube-reg-content__button cube-requirements__button-continue">Продолжить</button>
    </div>
</div>