<header class="specification__header">
    <div class="specification__header_caption">
        Спецификации
    </div>
    <div class="specification__header_info-box">
        <div class="specification__header_info-metr">75 м</div>
        <div class="specification__header_info">Планировка с 3 спальнями,  полезная <br> площадь 43 м2</div>
        <img src="./img/close.svg" alt="" class="specification__header_out">
    </div>
</header>
<div class="specification__content">
    <div class="specification__container">
        <div class="specification__item_box">
            <div class="specification__item_caption">Каркас</div>
            <ul class="specification__list">
                <li class="specification__list_item">
                    Стальной металлический каркасс без мостиков холода  не боится землетрясений и проседания почвы
                </li>
                <li class="specification__list_item">
                    Утепление пол, стены 200мм минвата, потолок 350мм минвата.
                </li>
                <li class="specification__list_item">
                    Плоская кровля с возможностью устроить террассу для йоги и вечеринок
                </li>
                <li class="specification__list_item">
                    терасса 3х6м
                </li>
            </ul>
        </div>
        <div class="specification__item_box">
            <div class="specification__item_caption">Сартехника</div>
            <ul class="specification__list">
                <li class="specification__list_item">
                    сантехника Hans Grohe
                </li>
                <li class="specification__list_item">
                    Ванная Keller Pool
                </li>
                <li class="specification__list_item">
                    Консольный унитаз
                </li>
                <li class="specification__list_item">
                    Разводка труб отопления, холодной, горячей воды REHAU PEX
                </li>
                <li class="specification__list_item">
                    2 отдельных стояка -  для слива унитаза и бытовой воды
                </li>
            </ul>
        </div>
        <div class="specification__item_box">
            <div class="specification__item_caption">Входит в стоимость</div>
            <ul class="specification__list">
                <li class="specification__list_item">
                    Кухня
                </li>
                <li class="specification__list_item">
                    Рекуператор воздуха
                </li>
                <li class="specification__list_item">
                    Септик
                </li>
                <li class="specification__list_item">
                    Гардеробная
                </li>
                <li class="specification__list_item">
                    Кровать
                </li>
            </ul>
        </div>
        <div class="specification__item_box">
            <div class="specification__item_caption">Отопление и энергосбережение</div>
            <ul class="specification__list">
                <li class="specification__list_item">
                    радиаторы отопления
                </li>
                <li class="specification__list_item">
                    котел на выбор - электрический, газовый, дровяной Bosch
                </li>
                <li class="specification__list_item">
                    Энергосберегающие 2х камерные стеклопакеты с аргоном
                </li>
                <li class="specification__list_item">
                    Рекуператор воздуха
                </li>
                <li class="specification__list_item">
                    энергосберегающее и светодиодное освещение
                </li>
                <li class="specification__list_item">
                    умный дом управляемый со смартфона
                </li>
            </ul>
        </div>
        <div class="specification__item_box">
            <div class="specification__item_caption">Электрика</div>
            <ul class="specification__list">
                <li class="specification__list_item">
                    электрика, медь
                </li>
                <li class="specification__list_item">
                    Распределительный щит, счетчик день/ночь 3ф
                </li>
                <li class="specification__list_item">
                    много розеток
                </li>
            </ul>
        </div>
        <div class="specification__item_box">
            <div class="specification__item_caption">Не входит в стоимость</div>
            <ul class="specification__list">
                <li class="specification__list_item">
                    свайный фундамент
                </li>
                <li class="specification__list_item">
                    септик 
                </li>
                <li class="specification__list_item">
                    скважина и насос
                </li>
            </ul>
        </div>
    </div>
    <div class="specification__container"></div>
</div>