.main {
    background-color: black;
}

// HEADER

.header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    white-space: nowrap;
    color: transparent;
    height: 40px;
    width: 200px;
    background-color: #000;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__link {
    color: white;
    text-transform: none;

    + .nav__link {
        margin-left: 20px;
    }
}

.header__controls {
    display: flex;
    align-items: center;
}

.contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    padding: 0 30px;
    text-transform: uppercase;
    border-radius: 3px;
    background: green;
    font-weight: bold;
    color: white;
}

.header__contact-btn {
    margin-left: 30px;
}

// POP-UP

.pop-up {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.pop-up__layout {
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #00000070;
}

.pop-up__form {
    position: relative;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}