.cube-milestones__box {
    height: 673px;
    position: relative;
}

.cube-milestones__form-block {
    display: inline-block;
    padding: 84px 0 0 160px;
    vertical-align: top;
}

.cube-milestones__item {
    font-size: 0;
}

.cube-milestones__name-block {
    width: 250px;
    display: inline-block;
}

.cube-milestones__label {
    color: #909090;
}

.cube-milestones__date-block {
    display: inline-block;
    width: 80px;
    margin-left: 7px;
}

.cube-milestones__date-input {
    padding: 3px 0 0;
    text-align: center;
    position: relative;
}

.cube-milestones__button {
    margin: 16px 0 0 auto;
}

.cube-milestones__img {
    width: 612px;
    position: absolute;
    bottom: -11px;
    right: -100px;
    z-index: -1;
}