.cube-new-project__box {
    height: 641px;
    box-sizing: border-box;
}

.cube-new-project__header {
    padding-bottom: 55px;
}

.cube-new-project__img {
    width: 361px;
    height: 362px;
    float: right;
    vertical-align: top;
}

.cube-new-project__creature-block {
    display: inline-block;
    margin: 60px 0 0 160px;
}

.cube-new-project__button {
    margin-top: 53px;
}

.cube-new-project__date-block {
    margin-top: 8px;
}

.cube-new-project__date-label {
    display: inline-block;
    width: 186px;
}

.cube-milestones__date-input {
    width: 78px;
}