.cube-requirements__box {
    font-size: 0;
}

.cube-requirements__list-block,
.cube-requirements__example-block {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
}

.cube-requirements__list-item {
    padding-left: 60px;
    margin-bottom: 23px;
}

.cube-requirements__subheader {
    padding-bottom: 46px;
}

.cube-requirements__example-block {
    padding-left: 142px;
}

.cube-requirements__img {
    width: 354px;
    height: 354px;
    padding: 132px 0 377px;
}

.cube-requirements__button-pass {
    border: 1px solid #0833B6;
    background-color: white;
    color: #0833B6;
}

.cube-requirements__button-continue {
    margin-bottom: 238px;
    margin: 0 175px 24px auto;
    position: relative;
    bottom: 64px;
}

.cube-requirements__select {
    width: 290px;
}

.cube-requirements__select-box {
    background-color: #fff;
}

.cube-requirements__input {
    font-family: globerregular;
}

.cube-requirements__item-label {
    display: inline-block;
    height: 320px;
    width: 30px;
    vertical-align: top;
    // box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.5);
    z-index: -1;
    position: relative;
}

.cube-requirements__item-label--color-1 {
    background-color: #091676;
}

.cube-requirements__item-label--color-2 {
    background-color: #C58400;
}

.cube-requirements__item-label--color-3 {
    background-color: #006F5B;
}

.cube-requirements__item-content {
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px solid #DFDFDF;
}

.cube-requirements__item-span {
    font: 12px globerxbold;
    color: #fff;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    text-transform: uppercase;
    display: block;
    width: 320px;
    height: 320px;
    text-align: center;
    padding-top: 7px;
    box-sizing: border-box;
}

.cube-requirements__plus-img {
    display: block;
    width: 15px;
    height: 15px;
    margin: 32px auto 6px;
    outline: 0;
    border: none;
    background-color: transparent;
    position: relative;
    // background-color: green;
    border-radius: 20px;
}

.cube-requirements__plus-img:before {
    content: "";
    height: 9px;
    width: 1px;
    background-color: white;
    position: absolute;
    top: 3px;
    right: 7px;
}

.cube-requirements__plus-img:after {
    content: "";
    height: 1px;
    width: 9px;
    background-color: #fff;
    position: absolute;
    top: 7px;
    right: 3px;
}

.cube-requirements__task-box {
    margin-top: 13px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
}

.cube-requirements__task-box:first-child {
    margin-top: 0px;
}

.cube-requirements__task-box--animate {
    animation: mymove 2s 1;
}

@-webkit-keyframes mymove {
    0% {
        top: -266px;
        z-index: -1;
    }
    // 25% {
    //     top: 200px;
    // }
    // 75% {
    //     top: 50px
    // }
    100% {
        top: 0px;
        z-index: 1;
    }
}


/* Standard syntax */

@keyframes mymove {
    0% {
        top: -266px;
        z-index: -1;
    }
    // 25% {
    //     top: 200px;
    // }
    // 75% {
    //     top: 50px
    // }
    99% {
        z-index: -1;
    }
    100% {
        top: 0px;
        z-index: 1;
    }
}