/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    min-height: auto;
    height: 100%;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: white;
    color: black;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}


/* /reset */

@font-face {
    font-family: 'globerbold';
    src: url('../fonts/GloberBold/glober_bold-webfont.eot');
    src: url('../fonts/GloberBold/glober_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GloberBold/GloberBold.otf') format('truetype'), url('../fonts/GloberBold/glober_bold-webfont.woff') format('woff'), url('../fonts/GloberBold/glober_bold-webfont.ttf') format('truetype'), url('../fonts/GloberBold/glober_bold-webfont.svg#globerbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'globerregular';
    src: url('../fonts/GloberRegular/glober_regular-webfont.eot');
    src: url('../fonts/GloberRegular/glober_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GloberRegular/GloberRegular.otf') format('truetype'), url('../fonts/GloberRegular/glober_regular-webfont.woff') format('woff'), url('../fonts/GloberRegular/glober_regular-webfont.ttf') format('truetype'), url('../fonts/GloberRegular/glober_regular-webfont.svg#glober_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'globersemibold';
    src: url('../fonts/GloberSemiBold/glober_semibold-webfont.eot');
    src: url('../fonts/GloberSemiBold/glober_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GloberSemiBold/GloberSemiBold.otf') format('truetype'), url('../fonts/GloberSemiBold/glober_semibold-webfont.woff') format('woff'), url('../fonts/GloberSemiBold/glober_semibold-webfont.ttf') format('truetype'), url('../fonts/GloberSemiBold/glober_semibold-webfont.svg#globersemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'globerxbold';
    src: url('../fonts/GloberxBold/glober_xbold-webfont.eot');
    src: url('../fonts/GloberxBold/glober_xbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GloberxBold/glober_xbold-webfont.woff') format('woff'), url('../fonts/GloberxBold/glober_xbold-webfont.ttf') format('truetype'), url('../fonts/GloberxBold/glober_xbold-webfont.svg#globerxbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.cube-reg-container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.cube-reg-content__header {
    color: #32315E;
    font: 30px/28px globerregular;
    width: 100%;
    text-align: center;
    padding-top: 60px;
}

.cube-reg-content__subheader {
    text-align: center;
    padding-top: 10px;
    color: #515E80;
    font: 17px/26px globerregular;
    max-width: 630px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.cube-reg-content__button {
    width: 180px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    background-color: #0833B6;
    color: #fff;
    border-radius: 7px;
    font: 13.36px globerbold;
    text-transform: uppercase;
    padding: 5px 0 0;
    outline: none;
    display: block;
    cursor: pointer;
}

.cube-reg-content__label {
    font: 13px/24px globerbold;
    color: black;
    display: block;
    margin: 0 0 1px 2px;
}

.cube-reg-content__input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #C6C6C6;
    // color: #C6C6C6;
    font: 13px/24px globerregular;
    padding: 3px 9px 0;
    margin-bottom: 16px;
    outline: none;
}

.cube-reg-content__task-box {
    width: 320px;
    box-sizing: border-box;
    padding: 21px 15px 8px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    background-color: #F9F9F9;
}

.cube-reg-content__textarea {
    height: 56px;
    width: 290px;
    resize: none;
    box-sizing: border-box;
    padding: 7px 9px;
    font: 13px globerregular;
    outline: none;
    border: 1px solid #C6C6C6;
    margin-bottom: 15px;
}

.cube-reg-content__input::-webkit-input-placeholder {
    color: #C6C6C6;
    font-family: globerregular
}

.cube-reg-content__input::-moz-placeholder {
    color: #C6C6C6;
    font-family: globerregular
}

.cube-reg-content__input:-moz-placeholder {
    color: #C6C6C6;
    font-family: globerregular
}

.cube-reg-content__input:-ms-input-placeholder {
    color: #C6C6C6;
    font-family: globerregular
}

.cube-reg-content__textarea::-webkit-input-placeholder {
    color: #C6C6C6;
    font-family: globerregular
}

.cube-reg-content__textarea::-moz-placeholder {
    color: #C6C6C6;
    font-family: globerregular
}

.cube-reg-content__textarea:-moz-placeholder {
    color: #C6C6C6;
    font-family: globerregular
}

.cube-reg-content__textarea:-ms-input-placeholder {
    color: #C6C6C6;
    font-family: globerregular
}

input::-webkit-calendar-picker-indicator {
    position: absolute;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

input:enabled:read-write:-webkit-any(:focus,
:hover)::-webkit-inner-spin-button {
    display: none;
}

input::-webkit-clear-button {
    display: none;
}

::-webkit-inner-spin-button {
    display: none;
}

.cube-reg-content__box {
    width: 995px;
    margin: 15px auto;
    border: 1px solid #D7D7D7;
    border-radius: 20px;
    position: relative;
}

.cube-registration,
.cube-new-project {
    height: 703px;
}

.cube-reg-content__select-box {
    width: auto;
    display: inline-block;
    position: relative;
    margin-bottom: 13px;
    position: relative;
}

.cube-reg-content__select-box:before {
    content: "";
    border: 5px solid transparent;
    border-bottom: 7px solid transparent;
    border-top: 7px solid #828282;
    position: absolute;
    right: 11px;
    top: 13px;
}

.cube-reg-content__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: 0 0;
    outline: 0;
    border: 1px solid #c6c6c6;
    border-radius: 0;
    width: 270px;
    height: 30px;
    padding: 4px 9px 0;
    font: 13px globerregular;
    position: relative;
}

.cube-reg-content__risks {
    position: absolute;
    width: 86px;
    height: 86px;
    box-sizing: border-box;
    border: 1px solid #E80008;
    border-radius: 50%;
    color: #E80008;
    left: -43px;
    top: 73px;
    background-color: white;
    font: 26px/24px globerregular;
    text-align: center;
}

.cube-reg-content__risks-value {
    display: inline-block;
    padding: 30px 0 0 0;
}

.cube-reg-content__risks-text {
    font-size: 12px;
    margin-top: -4px;
    display: block;
}

.cube-reg-content__help {
    position: absolute;
    top: 69px;
    right: -41px;
    width: 215px;
    z-index: 1;
    font-size: 0;
}

.cube-reg-content__help-text-block {
    border: 1px solid #D7D7D7;
    width: 154px;
    box-sizing: border-box;
    font: 13px/18px globerregular;
    display: inline-block;
}

.cube-reg-content__help-span-bold {
    font-family: globerbold;
    display: block;
    padding: 0 0 4px 0;
}

.cube-reg-content__help-question {
    padding: 13px 0 9px 16px;
    position: relative;
    z-index: 2;
    background-color: white;
    cursor: pointer;
}

.cube-reg-content__help-contact {
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 5px 0 14px 16px;
    display: none;
}

.cube-reg-content__help-img-block {
    display: inline-block;
    position: absolute;
    border: 1px solid #d7d7d7;
    border-radius: 50%;
    right: 0;
    top: 9px;
}

.cube-reg-content__help-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 6px;
    background-color: white;
    position: relative;
    z-index: 2;
    cursor: pointer;
}