body {
    font-family: Montserrat;
    font-weight: 400;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

.button {
    height: 40px;
    width: 190px;
    background-color: #0698D4;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 6px 10px 0 rgba(0,0,0,0.17);
    color: white;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.53px;
    line-height: 23px;
    text-align: center;
}

.logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    &__container {
        display: flex;
        overflow: visible;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__left,
    &__right {
        min-width: 50%;
        position: relative;
        height: 824px;
    }

    &__right-img {
        background: url('../img/image_modul.png') no-repeat;
        height: 100%;
        width: 50vw;
        position: absolute;
        left: 0;
        transition: background-image 0.3s ease-in;
        background-position: center top;
        background-size: cover;
    }
    &__left-img {
        background: url('../img/image_home.png') no-repeat;
        height: 100%;
        width: 50vw;
        position: absolute;
        right: 0;
        transition: background-image 0.3s ease-in;
        background-position: center top;
        background-size: cover;
    }

    &__content {
        padding-top: 330px;
        position: relative;
    }

    &__content--right {
        padding-left: 74px;
    }   

    &__title {
        // color: white;
        color: #242B33;
        font-size: 100px;
        font-weight: bold;
        letter-spacing: 1.38px;
        line-height: 76px;
        width: 500px;
        padding-bottom: 50px;
        transition: all 0.3s ease-in;
    }

    &__button {
        height: 40px;
        width: 150px;
        background-color: #242B33;
        color: #0698D4;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.61px;
        line-height: 23px;
        text-align: center;
        margin-left: 214px;
        transition: all 0.3s ease-in;
        justify-content: flex-start;
        display: flex;
        position: relative;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        text-transform: uppercase;
        align-items: center;
    }

    &__button-arrow {
        position: absolute;
        left: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
    }

    &__button-text {
        width: 137px;
        margin-left: 7px;
    }

    &--active {
        .main__title {
            color: white;
        }
        .main__button {
            color: white;
            background-color: #0698D4;
            width: 305px;
        }

        .main__right-img {
            background-image: url('../img/image_modul_hover.png');
        }
        .main__left-img {
            background-image: url('../img/image_home_hover.png');
        }
    }
}


.construction {
    padding: 81px 0 92px;
    overflow: hidden;

    &__container {
        display: flex;
    }

    &__img {
        position: relative;
        left: -120px;
    }

    &__text {
        position: relative;
        left: -30px;
        padding-top: 108px;
    }

    &__title {
        color: #23272B;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.31px;
        line-height: 23px;
        padding-bottom: 23px;
    }

    &__subtitle {
        width: 500px;
        color: #23272B;
        font-size: 14px;
        letter-spacing: 0.61px;
        line-height: 23px;
    }
}



.dream-promo {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242B33;
    color: rgba(255,255,255,0.9);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.31px;
        line-height: 23px;
    }

    &__phone {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0.96px;
        line-height: 23px;
        margin-left: 20px;    

        &:hover {
            text-decoration: underline;
        }
    }
}

.house {
    
    &__container {
        position: relative;
        padding-bottom: 80px;
    }

    &__customize {
        position: relative;
        left: -124px;
        height: 467px;
        width: 540px;
        background-color: #242B33;
        padding-right: 58px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        box-sizing: border-box;
    }

    &__customize-title {
        padding-top: 150px;
        color: white;
        font-size: 53px;
        font-weight: bold;
        letter-spacing: 2.32px;
        line-height: 53px;
        text-align: center;
    }

    &__customize-subtitle {
        padding-top: 17px;
        color: white;
        font-size: 14px;
        letter-spacing: 0.61px;
        line-height: 23px;
        text-align: center;
        width: 270px;
    }

    &__index {
        position: absolute;
        right: 0;
        top: 0;
        height: 77px;
        width: 77px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.31px;
        line-height: 37px;
        text-align: center;
        color: white;
    }

    &__main-info {
        padding: 36px 33px 0;
        background-color: #0698D4;
        width: 325px;
        height: 186px;
        position: relative;
        left: 242px;
        color: white;
        box-sizing: border-box;
        z-index: 2;
    }

    &__info {
        display: flex;
        flex-direction: column;
        position: absolute;
        opacity: 0;
        transition: all 0.3s ease-in;

        &.active {
            opacity: 1;
        }
    }

    &__img {
        position: absolute;
        opacity: 0;
        transition: all 0.3s ease-in;
        width: 100%;

        &.active {
            opacity: 1;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.31px;
        line-height: 31px;
        height: 90px;
        width: 250px;
    }

    &__square {
        padding-top: 2px;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1.22px;
        line-height: 40px;
        align-self: flex-end;
        margin: -4px -19px 0 0;    
    }

    &__slider {
        position: absolute;
        z-index: 1;
        right: -123px;
        height: 673px;
        width: 974px;
        border-radius: 2px;
        background-color: #000;
        top: 77px;
        overflow: hidden;
    }

    &__button {
        height: 104px;
        width: 104px;
        background-color: #0698D4;
        box-shadow: 0 7px 11px 0 rgba(0,0,0,0.2);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.pros {
    padding-top: 140px;
    padding-bottom: 140px;

    &__title {
        color: #23272B;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.31px;
        line-height: 23px;
    }

    &__list {
        padding-top: 73px;
        display: flex;
    }

    &__item {
        width: 25%;
    }
}

.pros-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__img {
        height: 106px;
        width: 106px;
    }

    &__title {
        padding-top: 26px;
        color: rgba(0,0,0,0.97);
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.7px;
        line-height: 21px;
    }

    &__text {
        height: 69px;
        width: 275px;
        color: #23272B;
        font-family: Montserrat;
        font-size: 14px;
        letter-spacing: 0.61px;
        line-height: 23px;
    }
}



.test-drive {
    background-color: #242B33;
    overflow: hidden;

    &__container {
        display: flex;
        align-items: center;
    }

    &__left,
    &__right {
        width: 50%;
        height: 100%;
    }

    &__left {
        padding-top: 194px;
        padding-bottom: 202px;
    }

    &__title {
        color: rgba(255,255,255,0.9);
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.31px;
        line-height: 32px;
        text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }

    &__text {
        padding-top: 12px;
        font-size: 14px;
        letter-spacing: 0.61px;
        line-height: 21px;
        width: 380px;
        color: rgba(255,255,255,0.7);
    }

    &__form {
        padding-top: 35px;
        display: flex;
        flex-direction: column;
    }

    &__input {
        padding-left: 17px;
        height: 40px;
        width: 350px;
        background-color: #191E23;
        // box-shadow: 0 2px 4px 0 #0698D4;
        border: none;
        margin-top: 19px;
        font-size: 16px;
        letter-spacing: 0.7px;
        line-height: 23px;
        color: rgba(255,255,255,0.9);
        box-sizing: border-box;
        border: 1px solid transparent;
        outline: none;

        &:focus {
            border-color: #0698D4;
        }
    }

    &__submit {
        margin-top: 51px;
    }

    &__form-info {
        margin-top: 25px;
        width: 390px;
        color: rgba(255,255,255,0.6);
        font-size: 12px;
        letter-spacing: 0.53px;
        line-height: 15px;
    }

    &__right {
        overflow: visible;
    }

    &__img-container {
        width: 50vw;
        background: white;
        height: 100%;
        height: 862px;
    }
}



.footer {
    background: white;
    padding-top: 66px;
    padding-bottom: 34px;

    &__container {
        width: 1046px;
        height: 168px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__link-item {
        padding: 0 15px;
        color: #242B33;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.7px;
        line-height: 36px;
    }
    
    &__langs,
    &__socials {
        display: flex;
        align-items: center;
    }
    
    &__lang-btn {
        color: #242B33;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.7px;
        line-height: 36px;
        margin-right: 14px;
        text-transform: uppercase;
        background-color: transparent;
        
    }
    &__lang-btn--active {
        color: #0698D4;
    }

    &__text {
        color: rgba(36, 43, 51, 0.5);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.7px;
        line-height: 36px;
        text-align: center;
    }

    &__social-link {
        height: 32px;
        width: 32px;
        margin-left: 32px;
        padding: 0;
        cursor: pointer;
    }
}


.animation-wrapper {
    top: 0px;
    left: 0px;
    width: 104px; /* Set the size of the progress bar */
    height: 104px;
    position: absolute; /* Enable clipping */
}

.animation-wrapper.active {
    clip: rect(0px, 104px, 104px, 50px); /* Hide half of the progress bar */
    /* Set the sizes of the elements that make up the progress bar */
    .circle {
        width: 100px;
        height: 100px;
        border: 2px solid black;
        border-radius: 52px;
        position: absolute;
        clip: rect(0px, 52px, 104px, 0px);
    }

    &[data-anim~=wrapper] {
        -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
        -webkit-animation-delay: 3s; /* Wait half of the animation */
        -webkit-animation-name: close-wrapper; /* Keyframes name */
    }

    .circle[data-anim~=left] {
        -webkit-animation-duration: 6s; /* Full animation time */
        -webkit-animation-name: left-spin;
    }
    
    .circle[data-anim~=right] {
        -webkit-animation-duration: 3s; /* Half animation time */
        -webkit-animation-name: right-spin;
    }
}

.active[data-anim~=base],
.active div[data-anim~=base] {
    -webkit-animation-iteration-count: 1;  /* Only run once */
    -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
    -webkit-animation-timing-function:linear; /* Linear animation */
}
        
/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(180deg);}
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
    to {clip: rect(auto, auto, auto, auto);}
}

.options {
    margin-bottom: 78px;

    &__title {
        padding-bottom: 48px;
        width: 640px;
        color: #3F4B51;
        font-size: 34px;
        font-weight: bold;
        letter-spacing: 1.49px;
        line-height: 42px;
    }

    &__list {
        display: flex;
        
        margin-left: -122px;
        margin-right: -123px;
        width: calc(100% + 225px);
    }

    &__item {
        width: 25%;
        position: relative;
        color: #FFFFFF;

        &:first-of-type {
            color: #363636;
        }
    }

    &__text {
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 2.63px;
        line-height: 80px;
    }
}

.houses {
    width: 100%;
    height: 818px;
    background: url('../img/d1_header.png') no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0,0,0,0.21);

    &__top {
        margin-left: -45px;
        margin-right: -45px;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        align-items: center;
    }

    &__link {
        width: 140px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.61px;
        line-height: 24px;
        margin-right: 30px;
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;

        &--active {
            border-bottom-color: white;
        }
    }

    &__button {
        margin-left: 7px;
    }

    &__bottom {
        padding-top: 440px;
        margin-left: -45px;
        margin-right: -45px;
    }

    &__title {
        width: 620px;
        color: #FFFFFF;
        font-size: 54px;
        font-weight: bold;
        letter-spacing: 2.36px;
        line-height: 64px;
    }

    &__info {
        padding-left: 112px;
        padding-top: 41px;
    }
}

.house-card {

    &__block {
        position: relative;
        width: 1433px;
        margin: 0 auto;
    }

    &__slider_img {
        width: 100%;
        height: 600px;
        background-color: gray;
        display: block;
    }

    &__number {
        position: absolute;
        top: 0;
        text-transform: uppercase;
        background-color: #3B3B3B;
        font-weight: bold;
        width: 200px;
        height: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0 27px 36px 0;
        box-sizing: border-box;
        font-size: 60px;
        letter-spacing: 1.2px;
        color: #fff;
    }

    &__info {
        position: absolute;
        top: 173px;
        right: 8px;
        background-color: #0698D4;
        width: 440px;
        color: #fff;
    }

    &__info_img {
        width: 100%;
        display: block;
        height: 283px;
        background-color: #fff;
    }

    &__info_inside {
        position: absolute;
        top: 0;
        color: #fff;
        background-color: #0698D4;
        width: 69%;
        padding: 13px 0 12px 16px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        box-sizing: border-box;
        letter-spacing: 0.5px;
    }

    &__info_price_box {
        display: flex;
        padding: 56px 0 0 31px;
    }

    &__info_meter {
        font-size: 60px;
        font-weight: 800;
    }

    &__info_price {
        display: flex;
        align-items: flex-end;
        padding-bottom: 6px;
        font-size: 25px;
        padding-left: 39px;
        letter-spacing: 1.4px;
    }

    &__info_text {
        padding: 23px 0 0 31px;
        font-size: 14px;
        letter-spacing: 0.7px;
        width: 80%;
        line-height: 19px;
    }

    &__info_btn_box {
        padding: 23px 0 43px 29px;
    }

    &__info_btn {
        width: 153px;
        color: #fff;
        background-color: #0698D4;
        text-transform: uppercase;
        padding: 11px 0;
        font-size: 13px;
        border: 1px solid #fff;
        margin-right: 13px;    
    }

    &__info_btn:hover {
        color: #0698D4;
        background-color: #fff;
        border: 1px solid #0698D4;
    }

    &__map_slider {
        display: flex;
        width: 870px;
        justify-content: space-between;
        margin: 39px 0 40px 18px;
    }

    &__map_img {
        width: 208px;
        height: 105px;
        background-color: gray;
    }
    
}

.soon {
    position: relative;
    width: 1433px;
    margin: 0 auto;
    margin-bottom: 46px;
}

.soon__ {
    &slider {
        overflow: hidden;
    }    

    &slider_img {
        width: 100%;
        height: 600px;
        filter: blur(6px);
    }

    &info {
        position: absolute;
        top: 317px;
        right: 13px;
        background-color: #fff;
        width: 440px;
        color: #3B3B3B;
    }

    &info_price_box {
        display: flex;
        padding: 56px 0 0 31px;
    }

    &info_meter {
        font-size: 60px;
        font-weight: 800;
    }

    &info_price {
        display: flex;
        align-items: flex-end;
        padding-bottom: 6px;
        font-size: 25px;
        padding-left: 39px;
        letter-spacing: 1.4px;
    }

    &info_btn {
        color: #fff;
        background-color: #0698D4;
        text-transform: uppercase;
        margin: 21px 0 43px 26px;
        width: 280px;
        font-size: 14px;
        padding: 12px 0;
    }
}

@media screen and (max-width: 1200px) {
    .main__title {
        font-size: 75px;
    }

    .main__button {
        margin-left: 65px;
    }

    .main__content {
        padding-left: 74px;
        width: 100%;
        box-sizing: border-box;
    }

    .dream-promo {
        padding: 0 30px;
    }

    .dream-promo__title {
        width: 37%;
        line-height: 31px;
    }

    .dream-promo__phone {
        margin-left: 0;
    }

    .house__customize {
        position: relative;
        left: 1px;
        height: 373px;
        width: 461px;
    }

    .house__slider {
        right: 24px;
        height: 468px;
        width: 774px;
    }

    .house__customize-title {
        padding-top: 99px;
    }

    .pros__list {
        flex-wrap: wrap;
    }

    .pros-item {
        width: 50%;
    }

    .pros__container {
        padding-left: 30px;
    }

    .test-drive__left, .test-drive__right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .test-drive__title {
        width: 66%;
    }
}

@media screen and (max-width: 1679px) {
    .container {
        width: 1024px;
    }

    .main__title {
        font-size: 70px;
    }
    .main__button {
        margin-left: 120px;
    }

    .dream-promo {
        height: auto;
    }

    .dream-promo__title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.31px;
        line-height: 35px;
        width: 439px;
        padding-left: 60px;
        margin: 70px 0;
    }

    .dream-promo__button {
        margin-right: 60px;
        margin-left: 40px;
    }

    .dream-promo__phone {
        margin-left: auto;
    }

    .construction {
        padding-top: 28px;
        padding-bottom: 72px;
    }

    .house__customize {
        width: 370px;
        height: 370px;
        left: 0;
    }

    .house__customize-title {
        padding-top: 95px;
        font-size: 46px;
    }

    .house__slider {
        height: 467px;
        width: 655px;
        right: 0;
    }

    .house__main-info {
        left: 215px;
        height: 235px;
        width: 325px;
    }

    .house__container {
        padding-bottom: 0;
    }

    .pros__container {
        padding-left: 138px;
        padding-right: 138px;
        box-sizing: border-box;
    }

    .pros {
        padding-top: 110px;
        padding-bottom: 35px;
    }

    .pros__list {
        flex-wrap: wrap;
    }

    .pros-item {
        width: 50%;
        padding-bottom: 55px;
    }

    .pros-item__text {
        width: 285px;
    }

    .test-drive__left {
        padding-left: 60px;
        width: 55%;
        padding-bottom: 188px;
        padding-top: 208px;
    }

    .test-drive__right {
        width: 45%;
    }

    .footer {
        padding-top: 105px;
        padding-bottom: 50px;
    }

    .footer__container {
        padding: 0 62px;
        box-sizing: border-box;
    }

    .pros__list {
        justify-content: space-between;
    }

    .pros-item {
        width: 290px;
    }

    .main {
        max-width: 100%;
        overflow: hidden;
    }

    .house__container {
        overflow: hidden;
    }

    .footer__link-item {
        padding: 0 37px;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        width: 100%;
    }

    .logo img {
        width: 168px;
    }

    .main__container {
        flex-direction: column;
    }

    .main__left, .main__right {
        width: 100%;
    }

    .main__left-img,
    .main__right-img {
        width: 100%;
    }

    .main__title {
        margin: 0 auto;
        text-align: center;
    }

    .main__button {
        margin: 21px auto;
    }

    .dream-promo__container {
        flex-direction: column;
    }

    .dream-promo__title {
        margin: 80px 0 0 0;
    }

    .dream-promo__phone {
        margin: 34px 0;
    }

    .dream-promo__button {
        margin: 0 0 60px 0;
    }

    .construction__container {
        position: relative;
    }

    .construction__text {
        left: 0;
        padding: 0 0 0 24px;
    }

    .house__customize {
        width: 100%;
        left: auto;
        padding: 0;
    }

    .house__slider {
        position: relative;
        width: 100%;
        margin: 0;
        top: auto;
        right: auto;
        height: 324px;
    }

    .house__img {
        width: 100%;
    }

    .house__index {
        right: auto;
        left: 0;
    }

    .house__main-info {
        width: 100%;
        left: auto;
    }

    .house__info {
        flex-direction: row;
        align-items: center;
    }

    .house__title {
        display: flex;
        align-items: center;
    }

    .house__square {
        align-self: auto;
    }

    .pros {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .pros__title {
        text-align: center;
    }

    .pros-item {
        align-items: center;
        padding-bottom: 45px;
    }

    .pros-item__text {
        text-align: center;
    }

    .test-drive__container {
        flex-direction: column;
    }

    .test-drive__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .test-drive__text {
        text-align: center;
        width: 61%;
    }

    .test-drive__form {
        align-items: center;
    }

    .test-drive__submit {
        width: 290px;
    }

    .test-drive__form-info {
        text-align: center;
        width: 56%;
        margin-top: 32px;
    }

    .test-drive__right {
        width: 100%;
    }

    .footer__actions {
        flex-direction: column;
        align-items: center;
    }

    .footer__lang-btn:last-of-type {
        margin-right: 0;
    }

    .footer__social-link {
        margin-right: 32px;
        margin-left: 0;
    }

    .footer__social-link:last-of-type {
        margin-right: 0;
    }

    .footer__socials {
        margin-top: 15px;
    }

    .footer__text {
        line-height: 26px;
        width: 36%;
        margin-top: 34px;
    }

    .main__content--right {
        padding-left: 0;
    }

    .main__title {
        font-size: 60px;
        line-height: 56px;
        width: 449px;
    }

    .main__button-arrow {
        left: 235px;
    }

    .main--active .main__button {
        width: 270px;
    }

    .dream-promo__title {
        font-size: 24px;
        line-height: 11px;
    }

    .dream-promo__phone {
        font-size: 17px; 
        margin: 25px 0;
    }

    .dream-promo__button {
        margin: 0 0 50px 0;
    }

    .construction__title {
        font-size: 24px;
    }

    .construction__subtitle {
        width: 335px;
    }

    .construction__img {
        right: -21px;
        top: 183px;
        width: 400px;
    }

    .house__customize-title {
        font-size: 40px;
    }

    .pros-item__title {
        text-align: center;
    }

    .dream-promo__title {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }

    .house__customize-title {
        font-size: 31px;
    }

    .house__customize-subtitle {
        font-size: 12px;
    }

    .footer__lang-btn {
        font-size: 13px;
    }

    .footer__text {
        font-size: 12px;
    }

    .main__title {
        width: auto;
    }

    .main--active .main__button {
        width: 200px;
    }

    .main__button-text {
        width: 124px;
    }

    .main__button-arrow {
        left: 166px;
    }   

    .dream-promo__title {
        font-size: 14px;
    }

    .dream-promo__phone {
        font-size: 13px;
        margin: 14px 0;
    }

    .construction {
        padding: 145px 0 118px;
    }

    .construction__text {
        padding: 0 0 0 14px;
    }

    .construction__subtitle {
        width: 658px;
        font-size: 28px;
        letter-spacing: 1.23px;
        line-height: 47px;
    }

    .construction__img {
        right: -37px;
        top: 204px;
        width: 350px;
    }

    .house__customize-title {
        font-size: 25px;
    }

    .house__customize-subtitle {
    height: 235px;
    width: 658px;
    color: #23272B;
    font-family: Montserrat;
    font-size: 28px;
    letter-spacing: 1.23px;
    line-height: 47px;
    }

    .construction__title {
        height: 148px;
        width: 558px;
        color: #23272B;
        font-size: 46px;
        font-weight: bold;
        letter-spacing: 2.01px;
        line-height: 62px;
        padding: 0;
    }

    .construction__container {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
    }

    .construction__img {
        position: relative;
        width: 760px;
        order: 1;
        top: 0;
        right: -80px;
        margin-top: 90px;
        left: auto;
    }

    .house__customize {
        height: auto;
    }

    .test-drive__left, .test-drive__right {
        width: 100%;
    }

    .container {
        width: 720px;
    }

    .main__container {
        width: 100%;
    }

    .pros__container {
        padding-left: 0;
        padding-right: 0;
        padding-top: 64px;
    }

    .dream-promo {
        padding: 0;
    }

    .dream-promo__title {
        margin-top: 77px;
        width: 550px;
        color: rgba(255,255,255,0.9);
        font-family: Montserrat;
        font-size: 46px;
        font-weight: bold;
        letter-spacing: 2.01px;
        line-height: 62px;
        text-align: center;
        padding: 0;
    }

    .dream-promo__phone {
        margin-top: 100px;
        margin-bottom: 100px;
        height: 23px;
        width: 345px;
        font-size: 44px;
        font-weight: bold;
        letter-spacing: 1.92px;
        line-height: 23px;
    }

    .dream-promo__button {
        margin-bottom: 110px;
        height: 80px;
        width: 526px;
        font-size: 22px;
        font-weight: 600;
    }

    .pros {
        padding-top: 0;
        padding-bottom: 93px;
    }

    .test-drive__left {
        padding: 60px 30px 115px;
        box-sizing: border-box;
    }

    .test-drive__title {
        text-align: center;
    }

    .test-drive__text {
        width: 345px;
    }

    .test-drive__form {
        width: 100%;
    }

    .test-drive__input {
        width: 100%;
    }

    .test-drive__submit {
        width: 315px;
    }

    .test-drive__form-info {
        width: 315px;
    }

    .test-drive__img-container {
        height: 493px;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
}


@media screen and (max-width: 1023px) {
    .main__content--left {
        padding-top: 490px;
        padding-left: 0;
    }

    .main__button-text {
        margin: 0;
        font-size: 22px;
        letter-spacing: 0.96px;
        line-height: 23px;
        width: auto;
    }

    .main__left {
        height: 1200px;
    }

    .main__right {
        height: 1245px;
    }
    .main__title {
        width: 550px;
        font-size: 100px;
        font-weight: bold;
        letter-spacing: 1.38px;
        line-height: 76px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 70px;
    }
    
    .main__button {
        height: 80px;
        width: 318px;
        justify-content: center;
        margin: 0 auto;
        
        .main__button-arrow {
            display: none;
        }
    }

    .main--active {
        .main__button {
            height: 80px;
            width: 526px;
            margin: 0 auto;
            padding-left: 28px;
            padding-right: 28px;
            justify-content: space-between;

            .main__button-arrow {
                position: relative;
                display: block;
                left: 0;
                right: 0;
            }  
        }  
    }

    .main__button-arrow img {
        width: 36px;
    }

    .main__content--right {
        padding-left: 0;
        padding-top: 500px;

        .main__title {
            padding: 0;
            height: 212px;
            padding-bottom: 69px;
        }
    }

    .house__customize-title {
        padding-top: 116px;
        width: 469px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 52px;
        font-weight: bold;
        letter-spacing: 2.27px;
        line-height: 62px;
        text-align: center;
        padding-bottom: 18px;
    }

    .house__customize-subtitle {
        width: 531px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 28px;
        letter-spacing: 1.23px;
        line-height: 47px;
        text-align: center;
        padding: 0;
        height: auto;
        padding-bottom: 117px;
    }

    .house__customize {
        position: relative;
        z-index: 2;
    }

    .house__index {
        background-color: #242B33;
        top: auto;
        top: 100%;
    }

    .house__slider {
        height: 513px;
    }

    .house__main-info {
        height: 195px;
        padding-top: 36px;
        padding-left: 39px;
    }

    .house__title {
        width: 507px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 46px;
        font-weight: bold;
        letter-spacing: 2.01px;
        line-height: 62px;
        padding-right: 8px;
    }

    .house__square {
        width: 157px;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 2.18px;
        line-height: 40px;
        display: flex;
        align-items: flex-end;
    }

    .house__button {
        top: auto;
        bottom: 170px;
        right: 43px;
        height: 77px;
        width: 77px;
        background: #242B33;
    }


    .animation-wrapper {
        width: 78px; /* Set the size of the progress bar */
        height: 78px;
        position: absolute;
    }

    .animation-wrapper.active {
        clip: rect(0px, 78px, 78px, 37px); /* Hide half of the progress bar */
        /* Set the sizes of the elements that make up the progress bar */
        .circle {
            width: 74px;
            height: 74px;
            border: 2px solid #0698D4;
            border-radius: 40px;
            clip: rect(0px, 40px, 78px, 0px);
        }
    }

    .container.pros__container {
        padding-top: 132px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .pros__title {
        color: #23272B;
        font-family: Montserrat;
        font-size: 46px;
        font-weight: bold;
        letter-spacing: 2.01px;
        line-height: 23px;
        text-align: center;
        margin: auto;
    }

    .pros__list {
        padding-top: 115px;
    }

    .pros__item {
        display: flex;
        align-items: baseline;
        width: 310px;
    }

    .pros-item__img {
        height: 132px;
        width: 132px;
        padding-bottom: 32px;
    }

    .pros-item__title {
        padding: 0;
        height: 76px;
        width: 293px;
        color: rgba(0,0,0,0.97);
        font-family: Montserrat;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1.23px;
        line-height: 38px;
        text-align: left;
        padding-bottom: 22px;
    }

    .pros-item__text {
        height: auto;
        width: 310px;
        color: #23272B;
        font-family: Montserrat;
        font-size: 16px;
        letter-spacing: 0.7px;
        line-height: 28px;
        text-align: left;
    }

    .pros {
        padding-bottom: 175px;
    }
}

@media screen and (max-width: 719px) {
    .pros__list {
        flex-direction: column;
        align-items: center;
    }
}